#experience {
  min-height: 0vh;
  margin: 0;
  max-width: 0px;
  padding-top: 0px;
  display: none !important;
}

.joblist-job-title {
  font-family: "NTR", sans-serif;
  font-size: 0px;
  font-weight: bold;
  color: var(--lightest-slate);
}

.joblist-job-company {
  font-family: "NTR", sans-serif;
  font-size: 0px;
  color: var(--green-bright);
  font-weight: bold;
}

.joblist-duration {
  font-family: "NTR", sans-serif;
  font-size: 0px;
  color: var(--slate);
}

#vertical-tabpanel {
  margin-top: 0px;
  padding-left: 0px;
}

.MuiTab-wrapper {
  font-size: 0px;
  text-align: left;
  align-items: flex-start !important;
  font-family: "NTR", sans-serif;
}

.MuiButtonBase-root {
  outline: none !important;
  color: var(--lightest-slate) !important;
}

.PrivateTabIndicator-colorSecondary-5 {
  background-color: var(--green-bright) !important;
}
.jss5 {
  background-color: var(--green-bright) !important;
}
.makeStyles-tabs-2 {
  border-right: 1px solid var(--lightest-navy) !important;
}
#experience .MuiTab-root {
  padding: 0px 0px;
}
.MuiButtonBase-root:focus {
  color: var(--green-bright) !important;
}

ul {
  list-style: none;
  margin-left: 0px;
}

.job-description li::before {
  content: "▹    ";
  color: var(--green-bright);
  position: absolute;
  left: 0;
}

.job-description li {
  position: relative;
  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 0px;
  color: var(--slate);
}

.job-description {
  padding-top: 0px;
  max-width: 0px;
  font-family: "NTR", sans-serif;
  font-size: 0px;
}

.job-description a,
.job-description b {
  font-size: 0px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #experience {
    padding-left: unset;
    padding-right: unset;
  }

  .jss1 {
    height: unset !important;
    flex-direction: column !important;
  }

  .makeStyles-root-1 {
    height: unset !important;
    width: unset;
    flex-direction: column;
  }

  .joblist-job-title {
    font-size: 22px;
  }

  .joblist-job-company {
    font-size: 22px;
  }
}
